{% extends "layout.html" %}

{% block title %}
    Add Post
{% endblock %}

{% block body %}
    <div>
        <h2>Add a new blog post</h2>
        <form method="post">
            {% csrf_token %}
            <div class="row mb-3">
                <label for="{{ form.title.id_for_label }}" class="col-form-label">{{ form.title.label }}</label>
                <div class="col-sm-10">{{ form.title }}</div>
            </div>
            <div class="row mb-3">
                <label for="{{ form.description.id_for_label }}" class="col-form-label">{{ form.description.label }}</label>
                <div class="col-sm-10">{{ form.description }}</div>
            </div>
            <div class="row mb-3">
                <label for="{{ form.content.id_for_label }}" class="col-form-label">{{ form.content.label }}</label>
                <div class="col-sm-10">{{ form.content }}</div>
            </div>
            <div>
                <p class="gap-5">
                    <button class="btn btn-primary btn-lg" type="submit">Submit</button>
                </p>
            </div>
        </form>
    </div>
{% endblock %}
