{% extends "layout.html" %}

{% block title %}
    Blog List
{% endblock %}

{% block body %}
    {% for post in object_list %}
    <div class="card bg-light mb-3" style="max-width: 20rem;">
        <div class="card-header">Blog post</div>
        <div class="card-body">
          <h4 class="card-title"><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h4>
          <p class="card-text">
            <p>{{ post.date|date:"F j, Y" }}</p>
            <p>{{ post.description }}</p>
            <p>Author: {{ post.user.username }}</p>
          </p>
        </div>
    </div>
    {% endfor %}
{% endblock %}