{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <div>
        <h2>Login</h2>
        <form method="post">
            <div>
                {% csrf_token %}{{form|crispy}}
            </div>
            <div>
                <p>Don't have an account? Create one <a href="{% url 'register' %}">here</a>!</p>
            </div>
            <div>
                <p class="gap5">
                    <button type="submit" class="btn btn-success">Login</button>
                </p>
            </div>
        </form>
    </div>
{% endblock %}
